* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

#home,
#recomended,
#new-recipe,
#popular-recipe {
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
}

.search {
  position: relative;
}

.icon {
  position: absolute;
  top: calc(50%);
  left: 1.25rem;
}

.search input {
  text-indent: 3rem;
}

.bg-purple-decoration {
  background-color: rgb(215, 154, 255);
  height: 100vh;
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.menu-recipe {
  border-radius: 20px;
  width: 750px;
  height: 750px;
  object-fit: cover;
  background-position: center;
  display: flex;
}

.btn-primary {
  height: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
  background-color: rgb(215, 154, 255);
  border-color: rgb(215, 154, 255);
}

.bg-purple-decoration-2 {
  height: 50px;
  width: 15px;
  background-color: rgb(215, 154, 255);
  display: block;
}

.bg-purple-decoration-3 {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(215, 154, 255);
  border-radius: 20px;
  height: 750px;
  width: 750px;
  position: absolute;
  top: calc(17%);
  left: calc(7%);
  z-index: -1;
}

.bg-purple-decoration-4 {
  background-color: rgb(215, 154, 255);
  height: 77vh;
  width: 25%;
  position: absolute;
  right: 0;
  top: calc(5%);
  z-index: -1;
}

.bg-purple-decoration-5 {
  border-radius: 10px;
  height: 15px;
  width: 50px;
  background-color: rgb(215, 154, 255);
  display: block;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  z-index: 1000;
}

footer {
  margin-top: 300px;
  height: 300px;
  background-color: rgb(215, 154, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
