* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  z-index: 1000;
}

#content,
#content-2 {
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.menu-recipe {
  border-radius: 20px;
  width: 500px;
  height: 400px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  padding: 20px;
}
